.form {
  border-radius: 10px;
  background-color: var(--main-black);
  box-shadow: var(--main-shadow);
  display: flex;
  gap: 10px;
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;

  @media (max-width:768px) {
    width: 100%;
  }
  
  .form__input {
    border-radius: 5px;
    width: 100%;
    font-size: 22px;
    padding: 5px 10px;
    outline: none;
    border: none;
  }

  .form__btn {
    background-color: var(--main-red);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: 0.1s;
    color: white;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
